<h1>Restaurant</h1>

<ul>
  <li>name: <%= @restaurant.name %></li>
  <li>address: <%= @restaurant.address %></li>
  <li>phone_number: <%= @restaurant.phone_number %></li>
  <li>category: <%= @restaurant.category %></li>
</ul>

<%= link_to "Back to all restaurants", restaurants_path %>
